In [56]:
import urllib.parse
import urllib.request
import json
import pandas as pd

In [57]:
# Read destinations from file
with open('dests.txt', 'r') as f:
    destinations = f.read().splitlines()

In [58]:
targets = []
distances = []
durations = []
coordinates = []

for destination in destinations:
    destination_encoded = urllib.parse.quote(destination)
    
    distance_matrix_url = f'https://maps.googleapis.com/maps/api/distancematrix/json?origins=Tel+Aviv&destinations={destination_encoded}&key=AIzaSyArb7F2oNJekdz70eUtrg1UhGioauOUmro'
    geocode_url = f'https://maps.googleapis.com/maps/api/geocode/json?address={destination_encoded}&key=AIzaSyArb7F2oNJekdz70eUtrg1UhGioauOUmro'

    with urllib.request.urlopen(distance_matrix_url) as distance_response, urllib.request.urlopen(geocode_url) as geocode_response:
        distance_data = json.load(distance_response)
        geocode_data = json.load(geocode_response)
        try:
            distance_data.get('status') == 'OK' and geocode_data.get('status') == 'OK'
            distance_row = distance_data['rows'][0]['elements'][0]
            distance_km = distance_row['distance']['value'] / 1000
            duration_min = distance_row['duration']['value'] / 60

            location = geocode_data['results'][0]['geometry']['location']
            longitude = location['lng']
            latitude = location['lat']

            targets.append(destination)
            distances.append(distance_km)
            durations.append(duration_min)
            coordinates.append((latitude, longitude))
        except:
            print(f'Error retrieving information for {destination}')

In [59]:
df = pd.DataFrame({
    'Target': targets,
    'Distance_km': distances,
    'Duration(hour+minutes)': durations,
    'Latitude': [coord[0] for coord in coordinates],
    'Longitude': [coord[1] for coord in coordinates]
})

In [61]:
df['Duration'] = df['Duration(hour+minutes)'].apply(lambda x: '{:02d}:{:02d}'.format(*divmod(int(x), 60)))

In [62]:
df

,Target,Distance_km,Duration(hour+minutes),Latitude,Longitude,Duration
0,Istanbul,1815.227,1262.866667,41.008238,28.978359,21:02
1,Amsterdam,4532.541,2883.466667,52.367573,4.904139,48:03
2,Valletta,3792.883,3050.933333,35.899237,14.514100,50:50
3,Basel,4092.805,2642.450000,47.559599,7.588576,44:02
4,Doha,2164.477,1358.783333,25.285447,51.531040,22:38

In [63]:
df_sorted = df.sort_values('Distance_km', ascending=False)
result = df_sorted.head(3)

In [64]:
result

,Target,Distance_km,Duration(hour+minutes),Latitude,Longitude,Duration
1,Amsterdam,4532.541,2883.466667,52.367573,4.904139,48:03
3,Basel,4092.805,2642.450000,47.559599,7.588576,44:02
2,Valletta,3792.883,3050.933333,35.899237,14.514100,50:50